.content{
  width : 100%;
  height : max-content;
  display : flex;
  background-color: #0F0E17;
  padding-top:25px;
}

.componentHolder{
  width : 70%;
  height: 100%;
  margin : auto;
  border-radius: 20px;
  background-color : white;
  padding-right : 20px;
  padding-left : 20px;
}

.logo{
  display : block;
  width: 30%;
  margin: auto;
  padding: auto;
}

.amongUsImgDroite{
  display : block;
  margin: auto;

}

.secret{
  color: white;

}

.quote{
  margin-left: auto;
  margin-right: auto;
  width: 20em
}

.beerLeaderBoard{
  display : block;
  margin: auto;
}
